In [220]:
from pymongo import MongoClient
import pprint
import urllib.request

import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

# Requests sends and recieves HTTP requests.
import requests

# Beautiful Soup parses HTML documents in python.
from bs4 import BeautifulSoup

import json
import time
import copy

In [217]:
#connect to api_url for census

api_key = 'ce30285f0f2fedc096b5bf054c7d573ea6558309'
base_url = 'https://api.census.gov/data/2018/acs/acs1/spp?'

variables = []
geography = []


api_url = '''https://api.census.gov/data/2018/acs/acs1/spp?get=NAME,GEO_ID,S0201_001E,S0201_006E,S0201_213E,S0201_194E&for=county:*&in=state:*&key=ce30285f0f2fedc096b5bf054c7d573ea6558309'''

In [152]:
r = requests.get(api_url)

In [153]:
r.status_code

200

In [154]:
data = r.json()

In [156]:
data2 = pd.DataFrame(data)
data2

,0,1,2,3,4,5,6
0,NAME,GEO_ID,S0201_001E,S0201_213E,S0201_194E,state,county
1,"Washington County, Oregon",0500000US41067,597695,225955,317538,41,067
2,"Multnomah County, Oregon",0500000US41051,811880,330223,453165,41,051
3,"Hennepin County, Minnesota",0500000US27053,1259428,508964,707713,27,053
4,"Ramsey County, Minnesota",0500000US27123,550210,209287,284189,27,123
...,...,...,...,...,...,...,...
137,"Worcester County, Massachusetts",0500000US25027,830839,308831,426478,25,027
138,"Oakland County, Michigan",0500000US26125,1259201,503645,650047,26,125
139,"Wayne County, Michigan",0500000US26163,1753893,687546,753512,26,163
140,"Kent County, Michigan",0500000US26081,653786,244046,340436,26,081
141,"Macomb County, Michigan",0500000US26099,874759,347508,438680,26,099

In [158]:
def census_name_pull(name_dict, word_search):
    name_list = []


    for k, v in name_dict.items():
        if stat in v:
            name_list.append(k)
    return name_list

In [216]:
#pull data for sex & age by county in state
sex_age_pull = census_name_pull(clean_col_name,'INDUSTRY')

In [218]:
#pull data for employment status by county in state

In [219]:
#pull data for industry by county in state

In [ ]:
#pull data for income by county in state

In [275]:
#pull census variables 
#storing census variable names(unreadable) with readable column names 
var_req = requests.get('https://api.census.gov/data/2018/acs/acs1/spp/variables.json').json()


col_name = {}
variables = var_req['variables']

for k, v in variables.items():
    col_name[k] = v['label']
    
#still need to clean up the column names and remove !! and other unnecssary data.

In [277]:
#remove all the columns that have PR in them
clean_col_name = col_name.copy()
stat = 'PR'


for k, v in col_name.items():
    if stat in k:
        del clean_col_name[k]

In [283]:
sex_age_pull = []
stat = 'SEX AND AGE'


for k, v in clean_col_name.items():
    if stat in v:
        sex_age_pull.append(k)
sex_age_pull

list

In [294]:

emp_stat_pull = []
stat = 'EMPLOYMENT STATUS'


for k, v in clean_col_name.items():
    if stat in v:
        emp_stat_pull.append(k)

In [296]:
industry_pull = []
stat = 'INDUSTRY'


for k, v in clean_col_name.items():
    if stat in v:
        industry_pull.append(k)

In [295]:
income_pull = []
stat = 'INCOME'


for k, v in clean_col_name.items():
    if stat in v:
        income_pull.append(k)

In [289]:
def census_name_pull(name_dict, word_search):
    name_list = []


    for k, v in name_dict.items():
        if stat in v:
            name_list.append(k)
    return name_list

In [293]:
industry_pull = census_name_pull(clean_col_name,'INDUSTRY')

In [248]:
#original col name script was refactored above...

def skip():
    col_name = {}
    var_json = json.load(open('../variables.json'))
    var_json2 = var_json['variables']

    for k, v in var_json2.items():
        col_name[k] = v['label']
        
    pass
#col_name