In [1]:
from pymongo import MongoClient
import pprint

import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('fivethirtyeight')

# Requests sends and recieves HTTP requests.
import requests

# Beautiful Soup parses HTML documents in python.
from bs4 import BeautifulSoup

import json
import time
import copy

In [98]:
#connect to api_url for census

api_key = 'ce30285f0f2fedc096b5bf054c7d573ea6558309'



dec_api_url = '''https://api.census.gov/data/2018/acs/acs1/profile?
get=group(DP03)NAME&
for=metropolitan%20statistical%20area/micropolitan%20statistical%20area:*&
key=ce30285f0f2fedc096b5bf054c7d573ea6558309'''


select_api_url = '''https://api.census.gov/data/2018/acs/acs1/spp?get=NAME,group(S0201)&for=county:*&in=state:*&key=ce30285f0f2fedc096b5bf054c7d573ea6558309'''

In [99]:
r = requests.get(select_api_url)

In [95]:
r.status_code

200

In [96]:
data = r.json()

In [111]:
data2 = pd.DataFrame(data)
data2.head()

,0,1,2,3,4,5,6,7,8,9,...,1228,1229,1230,1231,1232,1233,1234,1235,1236,1237
0,NAME,GEO_ID,NAME,POPGROUP,POPGROUP_LABEL,S0201_001E,S0201_001EA,S0201_001M,S0201_001MA,S0201_002E,...,S0201_306MA,S0201_307E,S0201_307EA,S0201_307M,S0201_307MA,S0201_308E,S0201_308EA,S0201_308M,S0201_308MA,state
1,Minnesota,0400000US27,Minnesota,001,Total population,5611179,None,-555555555,*****,96.9,...,None,92.5,None,0.3,None,86.8,None,0.3,None,27
2,Minnesota,0400000US27,Minnesota,002,White alone,4629375,None,8116,None,100,...,None,92.4,None,0.3,None,87,None,0.4,None,27
3,Minnesota,0400000US27,Minnesota,003,White alone or in combination with one or more...,4787851,None,11632,None,96.7,...,None,92.4,None,0.3,None,87.1,None,0.4,None,27
4,Minnesota,0400000US27,Minnesota,532,Finnish (024-025),99009,None,6626,None,-999999999,...,None,90.8,None,1.8,None,87.6,None,1.9,None,27

In [ ]:
NAME